<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Keywords" content="小旋多搜索引擎，小旋综合搜索引擎，个人原创作品，来自个人灵感，http://www.axuan.pub:5535">
    <meta name="description" content="小旋多搜索引擎，小旋综合搜索引擎，个人原创作品，来自个人灵感，http://www.axuan.pub:5535">
    <title>小旋综合搜素引擎</title>
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <div id="wrap">
        <ul class="list">
            <li class="list_item" @click="handleChangeList(item.id)" v-for="item in search" :key="item.id"
                class="list_item"
                :style="{'backgroundColor': (currentTab == item.id ? '#009688': '#fff'),'color': (currentTab == item.id ? '#fff' : '#000')}"
                v-cloak>{{item.name}}</li>
        </ul>
        <div class="wrap_content">
            <input v-model="iptvalue" class="ipt" type="text" id="ipt">
            <button @click="handleClick" class="btn">搜索</button>
        </div>
    </div>
    <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/axios@0.24.0/dist/axios.min.js"></script>
    <script>
        const vm = new Vue({
            el: '#wrap',
            data: {
                iptvalue: '',
                currentTab: 1,
                search: [
                    {
                        id: 1,
                        name: '百度'
                    },
                    {
                        id: 2,
                        name: '搜狗'
                    },
                    {
                        id: 3,
                        name: '360搜索'
                    },
                    {
                        id: 4,
                        name: '必应搜索'
                    }
                ]

            },
            methods: {
                handleChangeList(id) {
                    this.currentTab = id;
                },

                handleClick() {
                    if (this.currentTab == 1) {
                        window.open("https://www.baidu.com/s?wd=" + this.iptvalue);
                    } else if (this.currentTab == 2) {
                        window.open('https://www.sogou.com/web?query=' + this.iptvalue);
                    } else if (this.currentTab == 3) {
                        window.open('https://www.so.com/s?ie=utf-8&fr=none&src=360sou_newhome&q=' + this.iptvalue);
                    } else if (this.currentTab == 4) {
                        window.open('https://cn.bing.com/search?q=' + this.iptvalue);
                    }
                    else {
                        alert('你是否选择上面的搜索引擎搜索');
                    }
                    // window.location.href ="https://www.baidu.com/s?wd="+this.iptvalue;

                    // axios.get(`https://www.baidu.com/s?wd=${this.iptvalue}`)
                    // .then((res)=>{
                    //     console.log(res);
                    //     window.location.href ="https://www.baidu.com/s?wd="+this.iptvalue;
                    // }).catch(()=>{

                    // })
                }
            }
        })
    </script>
</body>

</html>